<!DOCTYPE html>
<html lang="bg">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Учебни материали и качване на задания</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/student.css" />

</head>

<body>
    <div class="container">
        <header>
            <h1>Учебни материали</h1>
         <a href="/teacher/login" class="teacher-login" target="_blank" rel="noopener noreferrer">Вход за учители</a>
        </header>
        <h2>Избери учител/предмет</h2>
        <select id="teacherSelect" name="teacherEmail" required>
            <% teachers.forEach(t=> { %>
                <option value="<%= t.email %>" data-name="<%= t.name %>" <%=t.email===selectedTeacher.email ? 'selected'
                    : '' %>>
                    <pre><code class="language-ejs"><%= t.name %> (<%= t.subject %>)</code></pre>
                </option>
                <% }) %>
        </select>

        <form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data" class="form">
            <input name="file" id="entry_value" type="file" style="display: none;">
            <input type="hidden" name="teacherEmail" id="hiddenTeacherEmail">
            <input type="hidden" name="uploadFolderId" id="hiddenUploadFolderId">
            <div>
                <img src="/images/upload.png" alt="upload" width="7%" class="mx-2">
                Качи своето задание:
                <span id="fileName" style="font-weight: bold;"></span>
                <label for="entry_value" class="btn bg-color-dblue btn-primary px-4 py-3" style="cursor:pointer;">Избери
                    файл</label>
            </div>
        </form>

        <h2 id="teacherFilesTitle">Учебни материали</h2>
        <div id="folderBreadcrumbs" class="breadcrumbs"></div>

        <section class="panel teacher-files-panel">
            <div id="teacherFilesContainer" class="file-grid">
            </div>
        </section>
    </div>

    <script>
        const selectedTeacherJsonString = `<%- JSON.stringify(selectedTeacher).replace(/</g, '\\u003c').replace(/>/g, '\\u003e') %>`;
        const teachersJsonString = `<%- JSON.stringify(teachers).replace(/</g, '\\u003c').replace(/>/g, '\\u003e') %>`;

        window.initialTeacherData = {
            selectedTeacher: JSON.parse(selectedTeacherJsonString),
            initialDisplayFolderId: '<%= initialDisplayFolderId %>',
            initialUploadFolderId: '<%= initialUploadFolderId %>',
            teachers: JSON.parse(teachersJsonString)
        };
    </script>
    <script src="/js/materials.js"></script>
</body>

</html>