<!DOCTYPE html>
<html lang="bg">
<head>
  <meta charset="UTF-8" />
  <title>Учителски панел</title>
</head>
<body>
  <p>Влезли сте като: <strong><%= teacherEmail %></strong></p>

  <h2>Ваши файлове</h2>
  <% if (teacherFiles.length > 0) { %>
    <ul>
      <% teacherFiles.forEach(file => { %>
        <li><a href="<%= file.webViewLink %>" target="_blank"><%= file.name %></a></li>
      <% }) %>
    </ul>
  <% } else { %>
    <p>Няма качени файлове.</p>
  <% } %> 

  <h2>Файлове на учениците</h2>
  <% if (studentFiles.length > 0) { %>
    <ul>
      <% studentFiles.forEach(file => { %>
        <li><a href="<%= file.webViewLink %>" target="_blank"><%= file.name %></a></li>
      <% }) %>
    </ul>
  <% } else { %>
    <p>Няма качени ученически файлове.</p>
  <% } %>
</body>
</html>
