<!-- teacher-dashboard.ejs -->

<!DOCTYPE html>
<html lang="bg">

<head>
    <meta charset="UTF-8" />
    <title>Учителски Панел</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/teacher.css" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />

    <script>
        let FF_FOUC_FIX; // Може да се премести в отделен скрипт или да се премахне, ако не е нужно
    </script>
</head>

<body>
    <div class="logout">
        <a href="/teacher/logout">Изход</a>
    </div>

    <h1>Добре дошли</h1>
    <p>Влезли сте като: <strong id="teacher-email">
            <%= teacherEmail %>
        </strong></p>

    <section class="panel teacher-files-panel">
        <h2 id="teacherFilesTitle">Учебни материали</h2>
        <div id="folderBreadcrumbs" class="breadcrumbs"></div>
        <div id="teacherFilesContainer" class="file-grid">
        </div>
    </section>

    <section class="panel">
        <h2>Файлове от ученици</h2>
        <div id="studentFilesContainer" class="file-grid">
        </div>
    </section>

    <ul id="contextMenu" class="context-menu hidden">
        <li id="createFolderOption">
            <i class="fa-solid fa-folder-plus" style="color: black;"></i> Създай нова папка
        </li>
        <li id="uploadFileOption">
            <i class="fa-solid fa-cloud-arrow-up" style="color: black;"></i> Качи файл
        </li>
        <li id="deleteOption">
            <i class="fa-solid fa-trash-can" style="color: black;"></i> Изтрий
        </li>
    </ul>

    <input type="file" id="fileInput" style="display: none;" />

    <script>
        // Предаваме необходимите данни към JavaScript
        window.initialTeacherData = {
            teacherEmail: '<%= teacherEmail %>',
            teacherMaterialFolderId: '<%= teacherMaterialFolderId %>',
            currentDisplayFolderId: '<%= currentDisplayFolderId %>',
            teacherMaterials: '<%- JSON.stringify(teacherMaterials) %>', // Предаваме обекта директно
            studentUploadFolderId: '<%= studentUploadFolderId %>',
            studentFiles: '<%- JSON.stringify(studentFiles) %>',         // Предаваме обекта директно
            breadcrumbs: '<%- JSON.stringify(breadcrumbs) %>'
        };
    </script>
    <script src="/js/teachers.js" defer></script>
</body>

</html>